
# Ignore temporary Emacs files
*~

.settings
.project
.classpath
.pydevproject
.metadata
.idea

*.iml

# Exclude build directory
target/*
.
/target

*.pyc
.DS_Store

pom.xml.releaseBackup 
release.properties
pom.xml.versionsBackup
