language: java
jdk:
- oraclejdk8
branches:
  only:
  - development
notifications:
  email:
    recipients:
    - martin.oconnor@stanford.edu
    on_success: never
    on_failure: always
script: '[ ${TRAVIS_PULL_REQUEST} = ''false'' ] && mvn clean deploy --settings .m2/travis-settings.xml'
env:
  global:
  - secure: RGufhiWpsdTwB9yrvIeGleF04CqFkf/peG4aOp+vYzeH6IYRQaiexQil9NHa2FOugPF2dweR7HeN+x2PHZac+fMaqmgvu4HBqifkovf5vmLAwcet371Q/iwvn1TQdzfBqOf3+Jcgfc4gtjdARjNS9B6UCmQfJm2lDN2atMwVWZs=
  - secure: GnCCceeNJFZ4K8/AzfEumo7NdT63+0tnv+KSnYJWIkSb7NTjKJFIJzF/ToytHf5wZvuYHl1bYVMdH+wLrP2ZqV61rjz61gZkAlwrtGtHKy5V6GfhPkE51y8C/o+eo8RPAX91aHq0zoAe01pcigJTYWjg/9Ds0tkkVJjaSOjfQOk=
